/* link of original design */

/* https://dribbble.com/shots/23211031-Responsive-Web-Ui */

@layer basic, utilities, third;




@layer basic {

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
    }

    body,
    html {
        height: 100svh;
        width: 100%;
    }

    a {
        text-decoration: none;
        display: inline-block;
        letter-spacing: 1.5px;
    }

    ul {
        list-style: none;
    }

    li {
        display: inline;
    }

    .main_container {
        width: 100%;
        background-color: rgb(12, 12, 12);
        overflow: auto;
    }

}



@layer utilities {

    /* Header section start here */

    .header {
        width: 90%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        max-height: 5rem;
        max-width: 5rem;
        margin-left: -0.8rem;
    }

    .logo p {
        padding-left: 0.2rem;
        font-size: clamp(1rem, 1.8vw, 4rem);
        font-weight: 700;
        min-width: 14px;
        color: white;
    }

    li {
        padding: 0.7vw;
    }

    .menu_options li {
        font-size: clamp(0.4rem, 1vw, 1.5rem);
        font-weight: 500;
    }

    li a {
        color: white;
    }

    .buttons a,
    .text a {
        padding: 0.5rem;
        border-radius: 6px;
        margin-right: 1rem;
        font-size: clamp(0.4rem, 1.1vw, 1.1rem);
        font-weight: 400;
        min-width: 90px;
        text-align: center;
        max-height: 70px;
        color: white;
        background-color: #515DB1;
    }


    .ri-menu-2-line {
        display: none;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 0.7rem;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width:720px) {
        .ri-menu-2-line {
            display: block;
        }

        .header a {
            display: none;
        }

        .buttons i{
            color: white;
        }
    }

    /* header section end here */

    /* main section start here */

    /* first section start here */
    .main {
        margin: 0 auto;
        width: 89%;
    }

    .first_section {
        margin-top: 3rem;
    }

    .first_section>img {
        height: 90%;
        width: 40%;
        margin-bottom: 2rem;
        float: right;
        margin-left: 1rem;
    }

    .first_line {
        display: flex;
        justify-content: left;
        align-items: center;
        color: white;
    }

    .first_section .first_line img {
        max-height: 3rem;
        max-width: 3rem;
        min-width: 2.4rem;
        min-height: 2.4rem;
        border-radius: 80%;
    }

    .first_line p {
        font-size: clamp(0.7rem, 1vw, 1.4rem);
    }

    .compny_name {
        font-weight: 700;
        color: #fedb27;
    }

    .first_line+p {
        margin-top: 1rem;
        font-size: clamp(2rem, 5.2vw, 10rem);
        font-weight: 850;
        color: white;
        position: relative;
    }

    .text p:nth-child(3) {
        font-size: clamp(1rem, 1.6vw, 3rem);
        margin-top: 3rem;
        margin-right: 0.4rem;
        color: white;
    }



    .text a {
        font-size: clamp(0.9rem, 1.2vh, 1.8rem);
        margin: 2rem 0rem;
        width: 130px;
    }

    @media (max-width:720px) {
        .first_section {
            display: flex;
            flex-direction: column;
            height: fit-content;
        }

        .first_section>img {
            height: 15%;
            width: 90%;
        }

        .main {
            height: fit-content;
        }

        .small_font {
            font-size: clamp(0.7rem, 2.4vw, 2.5rem);
        }
    }

    /* first section ends here */

    /* First grid section started here */

    .first_grid {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        animation: boxes 1s ease 0s 1 forwards;
    }

    @keyframes boxes{
        0%{
            opacity:0;
            transform: translateX(100%)
        }

        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .first_grid>div {
        padding: 0.7rem;
        border: 1px solid royalblue;
        border-radius: 8px;
        transition: all 0.6s 0s linear;
        animation: boxes 2s linear 1;
    }

    .line1 {
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(0.25turn, rgb(149, 71, 191), rgb(97, 61, 163), rgba(97, 145, 61, 0));
        border-image-slice: 1;
        width: 100%;
        padding: 1.5rem;
        color: white;
        font-size: large;
    }

    .line2 {
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(147, 71, 187);
        font-weight: 900;
    }

    .line2 i {
        font-size: 2rem;
    }


    @media (max-width:720px) {
        .first_grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    /* first grid section ended here */


    /* second section of the website started here */

    .second_section {
        margin: 3rem 0rem;
    }

    .second_section>p {
        font-size: clamp(2rem, 4.8vw, 10rem);
        font-weight: 440;
        color: white;
    }

    .section_container {
        display: flex;
        margin-top: 2rem;
    }

    /* first part of the intro starte here */

    .first_part {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-right: 1px solid black;
        border-image: linear-gradient(0.25turn, rgb(88, 24, 123), rgb(105, 52, 205), rgba(19, 38, 100, 0));
        border-image-slice: 1;
        padding: 1.5rem;
    }

    .first_part img {
        width: 80%;
        object-fit: cover;
        margin-bottom: 0.8rem;
    }

    .first_part p {
        font-size: clamp(1rem, 1.6vw, 3rem);
        color: white;
    }

    /* first part of the intro end here */

    /* second part of the intro start here */

    .second_part {
        width: 50%;
        flex-direction: column;
        border-left: 1px solid black;
        border-image: linear-gradient(0.25turn, rgb(149, 71, 191), rgb(97, 61, 163), rgba(97, 145, 61, 0));
        border-image-slice: 1;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        padding-left: 2.2rem;

    }

    .second_part p:nth-child(1) {
        font-weight: 700;
        color: #fedb27;
        margin-top: 1.5rem;
        margin-bottom: 0.4rem;
        font-size: clamp(0.8rem, 2.4rem, 4rem);
    }

    .second_part p:nth-child(2) {
        font-size: clamp(1rem, 1.6vw, 3rem);
        color: white;
        margin-top: 1rem;
    }

    .second_part a {
        padding: 0.7rem;
        background-color: #515DB1;
        text-decoration: none;
        color: white;
        border-radius: 8px;
        margin-top: 2.5vw;
        font-size: clamp(0.4rem, 1.1vw, 1.8rem);
        width: fit-content;
        text-align: center;
    }

    
    .b1{
       text-shadow: 2px 2px 10px white;
    }

    /* second part of the intro end here */

    @media (0px <=width <=720px) {
        .section_container {
            flex-direction: column;
        }

        .first_part {
            width: 100%;
            border-left: none;
            border-bottom: 1px solid black;
            text-align: center;
            margin-top: -2rem;
        }

        .second_part {
            width: 100%;
            border-left: none;
            text-align: center;
            justify-content: center;
            align-items: center;
            border-top: 1px solid black;
        }

        .second_part a {
            font-size: clamp(0.7rem, 1vh, 1.8rem);
            margin-top: 1.5rem;
        }

        .second_part p:nth-child(1) {
            margin-top: -0.7rem;
            font-size: 2.1rem;
        }
    }
}

@layer third {

    /* second grid of the website end here */
    .second_grid {
        width: 86%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        gap: 3rem;
    }

    .second_grid .box img,
    .material-symbols-outlined {
        object-fit: cover;
        width: 40%;
        object-fit: cover;

    }

    .box {
        background-color: blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        min-width: 140px;
        background-image: radial-gradient(circle 382px at 50% 50.2%, rgba(73, 76, 212, 1) 0.1%, rgba(3, 1, 50, 1) 100.2%);
        padding: 1rem;
        transition: all 1s 0s ease-in-out;
        border: solid 3px rgb(42, 154, 168);
    }

    .box img {
        border-bottom: 2px solid black;
        border-image: linear-gradient(0.25turn, rgb(149, 71, 191), rgb(97, 61, 163), rgba(97, 145, 61, 0));
        border-image-slice: 1;
    }

    .box p:nth-child(2) {
        margin: 1rem 0rem;
        color: #fedb27;
        font-weight: 650;
        letter-spacing: 1px;
        font-size: clamp(0.8rem, 1.5vw, 4rem);
    }

    .box p:nth-child(3) {
        color: white;
        font-size: clamp(0.4rem, 1.5vw, 1rem);
    }

    @media (0px <=width <=720px) {
        .second_grid {
            grid-template-columns: repeat(1, 1fr);
        }

        .box p:nth-child(3) {
            color: white;
            font-size: clamp(0.4rem, 1.3vh, 2.3rem);
        }
    }

    /* second grid section end here */

    /* last section starts here */
    .last_section {
        display: flex;
        height: 90vh;
        margin-top: 5rem;
        align-items: center;
        justify-content: space-between;
    }


    .right_side {
        max-width: 55%;
        display: flex;
        flex-direction: column;
    }

    .right_side p:nth-child(1) {
        font-size: clamp(1.5rem, 3.4vw, 4.5rem);
        font-weight: 600;
        color: #fedb27;
        margin-bottom: 1.5rem;
    }

    .right_side p:nth-child(2) {
        font-size: clamp(1rem, 1.3vw, 3.5rem);
        margin-bottom: 2rem;
        color: white;
    }

    .right_side img {
        width: 30%;
        object-fit: cover;
    }

    .last_section>img {
        width: 40%;
        height: 70%;
        object-fit: contain;
        transition: all 1s 0s ease;
    }

    .bottom_buttons a{
        display: inline;
    }

    @media (max-width:720px) {
        .last_section {
            flex-direction: column;
            height: fit-content;
        }

        .right_side {
            max-width: 100%;
        }

        .last_section>img {
            margin-top: 3rem;
            width: 60%;
            height: 50%;
            object-fit: contain;
            padding-bottom: 3rem;
        }

        .bottom_buttons {
            text-align: center;
        }

        .right_side img {
            width: 40%;
            object-fit: cover;
        }
    }

    /* last section ended here */


    /* Footer Started here */
    .footer {
        width: 90%;
        height: fit-content;
        border-top: 2px solid black;
        border-image: linear-gradient(0.25turn, rgb(149, 71, 191), rgb(97, 61, 163), rgba(141, 23, 96, 0));
        border-image-slice: 1;
        margin: 0 auto;
        padding-top: 2vw;
        padding-bottom: 2vw;
        color:white;
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    
    .footer span{
        padding-right: 3.5vw;
        font-size: clamp(0.5rem, 1.4vh, 3.5rem);
        position: relative;
        
    }
    /* Footer section ended here */
}

/* this is animation's and effects */

.menu_options a:hover{
    color:#F2613F;
}

.buttons a:hover,.Explore:hover,.second_part a:hover {
  background-color: #3542a0;
}

@media (width>=720px) {
    


.first_grid>div:hover,.second_grid>div:hover {
    outline: white auto 1px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    transform:scale(1.1);
}

.second_grid>div:hover {
    outline: rgb(247, 240, 240) auto 1px;
    box-shadow: rgba(24, 224, 238, 0.35) 5px 5px 20px;
    transform:scale(1.1);
}

.last_section>img:hover{
    transform: scale(1.2) skewy(30deg) skewx(-15deg);
    /* z-index: 1; */
}

}
/* this will remove scroll bar of browser */
::-webkit-scrollbar{
    width:0px;
}


.first_section .text{
    animation: lefttoright 2s ease 0s 1 forwards;
}


@keyframes lefttoright{
    0%{
        translate: -100%;
        opacity: 0;
    }

    60%{
        opacity: 0.5;
    }

    100%{
        translate: 0;
        opacity: 1;
    }
}

